<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/bootstrap.min.css')}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>IRI: удобный каталог манги</title>
</head>
<main>
    <!-- Менюшка
================================================== -->
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/iri">Вернуться в главное меню</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="/exit">Выйти из аккаунта</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Менюшка
================================================== -->
    <body data-bs-theme="dark">
    <h1>Форма для регистрации в суперсекретной системе</h1>
    <div>
        <form class="login_form" method="post" enctype=multipart/form-data>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Название книги/манги</h5>
                <div class="card-body">
                    <input type="text" class="form-control" id="Name_composition" aria-describedby="emailHelp"
                           placeholder="" name="Name_composition">
                </div>
            </div>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Имя Автора</h5>
                <div class="card-body">
                    <input type="text" class="form-control" id="Name" aria-describedby="emailHelp"
                           placeholder="" name="Name">
                </div>
            </div>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Имя Переводчика</h5>
                <div class="card-body">
                    <input type="text" class="form-control" id="Author" aria-describedby="emailHelp"
                           placeholder="" name="Author">
                </div>
            </div>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Линк произведения на английском, Пробелы замените на _</h5>
                <div class="card-body">
                    <input type="text" class="form-control" id="Link" aria-describedby="emailHelp"
                           placeholder="" name="Link">
                </div>
            </div>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Опишите произведение</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label for="about">Описание будет цензурироваться!!!</label>
                        <textarea class="form-control" id="about" rows="3" name="about"></textarea>
                    </div>
                </div>
            </div>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Обложка произведения</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label>Приложите фотографию</label>
                        <input type="file" class="form-control-file" name="png_file" accept=".png">
                    </div>
                </div>
            </div>
            <div class="card text-white bg-dark">
                <h5 class="card-header">Главы Произведения</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label>Приложите zip-архив, состоящий из пронумерованых файлов("1", "2", и т.д.), в
                            которых так же будут пронумерованы страницы(манга/коммиксы) или просто текст с
                            произведением(книга/новелла)</label>
                        <input type="file" class="form-control-file" name="zip_file" accept=".zip">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    </div>
    </body>
</main>
</html>