<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/bootstrap.min.css')}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>IRI: удобный каталог манги</title>
</head>
<main>
    <!-- Менюшка
================================================== -->
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" , href="#">Выйти из аккаунта</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" , href="#">Создать книгу</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="манга, новелла, книги"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>
    <!-- Менюшка
================================================== -->
    <body data-bs-theme="dark">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for i in images %}
            {% if loop.first %}
            <li data-target="#carouselIndicators" data-slide-to="{{loop.index0}}" class="active"></li>
            {% else %}
            <li data-target="#carouselIndicators" data-slide-to="{{loop.index0}}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for i in images %}
            {% if loop.first %}
            <div class="carousel-item active images-carousel-item-block">
                <img class="" src="static\1.png">
            </div>
            {% else %}
            <div class="carousel-item images-carousel-item-block">
                <img class="" src="static\1.png">
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <script src="/static/scripts/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/scripts/popper.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>

    <!-- Контейнер с предлож книг
  ================================================== -->
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src={{Img_1}} alt="здесь должна была быть картинка, но не нашлась">
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{Name_1}}</text>
                        <div class="card-body">
                            <p class="card-text">{{Description_of_the_title_1}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="location.href='/{{link_1}}'">Читать
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Прочитать описание
                                    </button>
                                </div>
                                <small class="text-body-secondary">{{estimation_1}} Прсмотров</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src={{Img_1}} alt="здесь должна была быть картинка, но не нашлась">
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{Name_1}}</text>
                        <div class="card-body">
                            <p class="card-text">{{Description_of_the_title_1}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                            onclick="location.href='/{{link_1}}'">Читать
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Прочитать описание
                                    </button>
                                </div>
                                <small class="text-body-secondary">{{estimation_1}} Прсмотров</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Контейнер с предлож книг
  ================================================== -->
    <!-- Измен темы
  ================================================== -->
    <div class="container">
        <label for="classSelect">Тема сайта</label>
        <select id="classSelect" class="form-control" name="class">
            <option>Темная</option>
            <p id="dark"></p>
            <option>Светлая</option>
            <p id="light"></p>
        </select>
    </div>
    <!-- Измен темы
================================================== -->
    </body>
</main>
</html>